header.header
  .header__top
    .container.flex.ai-c.jc-sb
      .header__top-left.inline-flex.ai-c.jc-fs
        ul.header__socials.socials-list.inline-flex.ai-c.jc-fs
          li
            a(href="#" target="_blank")
              <svg><use xlink:href="#facebook-icon"></use></svg>

          li
            a(href="#" target="_blank")
              <svg><use xlink:href="#instagram-icon"></use></svg>

        .header__phones.phones.dropdown.inline-flex.ai-c
          .dropdown__top.flex.ai-c.jc-fs
            a(href="tel:+38 (044) 123 23 23").dropdown__current +38 (044) 123 23 23
            i.dropdown__arrow.arrow.arrow--light
          ul.dropdown__list
            li
              a(href="tel:+38 (044) 123 23 55") +38 (044) 123 23 55
            li
              a(href="tel:+38 (044) 123 23 77") +38 (044) 123 23 77
            li
              a(href="tel:+38 (044) 123 23 99") +38 (044) 123 23 99
        a(data-fancybox data-src="#request-modal" href="#")#header__cta.header__cta Перезвонить?

      .header__top-right.inline-flex.ai-c.jc-fe
        .header__languages.languages.dropdown.inline-flex.ai-c
          .dropdown__top.flex.ai-c.jc-fs
            p.dropdown__current RU
            i.dropdown__arrow.arrow.arrow--light
          ul.dropdown__list
            li
              button RU
            li
              button UA
            li
              button EN
        a(href="#" data-src="#auth-modal" data-fancybox).header__auth.inline-flex.ai-c.jc-fe
          <svg><use xlink:href="#auth-icon"></use></svg>
          p Вход / Регистрация
  .header__bottom
    .container.flex.jc-sb.ai-c
      a(href="/").header__logo.logo
        <svg><use xlink:href="#logo"></use></svg>
      nav.header__nav
        ul.flex.ai-s.jc-c
          li
            a(href="#") Каталог
            i.header__nav-arrow.dropdown__arrow.arrow
            .header__megamenu.flex.ai-s.jc-c
              ul.flex.fw-w.jc-sb.ai-s
                li
                  a(href="#") Новинки
                li
                  a(href="#") Кардиганы
                li
                  a(href="#") Акции
                li
                  a(href="#") Блузки женские
                li
                  a(href="#") Комплекты
                li
                  a(href="#") Пальто женские
                li
                  a(href="#") Костюмы женские
                li
                  a(href="#") Полупальто
                li
                  a(href="#") Платья женские
                li
                  a(href="#") Комбинезоны
                li
                  a(href="#") Спортивные костюмы
                li
                  a(href="#") Сарафаны
                li
                  a(href="#") Тренч
                li
                  a(href="#") Брюки
                li
                  a(href="#") Туники
                li
                  a(href="#") Джемпер
                li
                  a(href="#") Юбки женские
                li
                  a(href="#").header__megamenu-all.flex.ai-c.jc-fs
                    span Все категории
                    i.header__megamenu-arrow.arrow
              .header__nav-img(style="background-image: url('./img/megamenu-img.jpg')")
          li
            a(href="#") Коллекции
          li
            a(href="#") Торговые марки
          li
            a(href="#") Клиентам
            i.header__nav-arrow.dropdown__arrow.arrow
            ul.header__nav-inner
              li
                a(href="#") Item 1
              li
                a(href="#") Item 2
          li
            a(href="#") Новости
          li
            a(href="#") Контакты
      .header__actions.flex.ai-c.jc-fe
        .header__search.header__action#header-search
          .header__search-input
            input(type="text" placeholder="Например, красное платье")
          .header__search-results.hidden
            ul
              li Поиск не дал результатов
              li
                a(href="#")
                  .header__search-img
                    img(src="./img/product-1.jpg")
                  .header__search-info
                    p.header__search-title Платье красное ALIKA KRUSS
                    p.header__search-status В наличии
                  .header__search-prices
                    p.header__search-price--sale 1139 грн
                    p.header__search-price--default 859 грн
              li
                a(href="#")
                  .header__search-img
                    img(src="./img/product-1.jpg")
                  .header__search-info
                    p.header__search-title Платье красное ALIKA KRUSS
                    p.header__search-status В наличии
                  .header__search-prices
                    p.header__search-price--sale 1139 грн
                    p.header__search-price--default 859 грн
              li
                a(href="#")
                  .header__search-img
                    img(src="./img/product-1.jpg")
                  .header__search-info
                    p.header__search-title Платье красное ALIKA KRUSS
                    p.header__search-status В наличии
                  .header__search-prices
                    p.header__search-price--sale 1139 грн
                    p.header__search-price--default 859 грн
            .header__search-more
                a(href="#") Показать больше результатов (280)

          i.header__search-icon.header__action-icon
            <svg><use xlink:href="#search-icon"></use></svg>
        .header__favourites.header__action
          .header__action-content
          .header__action-top
            .header__action-top-inner
              span.header__action-num 2
              i.header__action-icon
                <svg><use xlink:href="#favourite-icon"></use></svg>
        .header__cart.header__action.cart
          .header__cart-content
            p.header__cart-content-empty.hidden Ваша корзина пуста
            .header__cart-content-inner
              p.header__cart-title.header__cart--pl.header__cart--pr Ваша корзина
              .header__cart-wrapper
                .header__cart-items.scrollbar-inner
                  .card
                    i.card__remove
                      <svg><use xlink:href="#close-icon" /></svg>
                    a(href="#").card__img
                      .card__img-inner
                        img(src="./img/product-1.jpg" alt="alt")
                    .card__content
                      a(href="#").card__title Платье ALIKA KRUSS
                      p.card__price 859 грн
                      .card__options
                        .card__option
                          p.card__option-key Количество:
                          p.card__option-val 1
                        .card__option
                          p.card__option-key Размер:
                          p.card__option-val 44
                        .card__option
                          p.card__option-key Цвет:
                          p.card__option-val
                            span.color.card__option-color(style="background-image: url('./img/color-1.jpg')")
                        .card__option.card__option--total
                          p.card__option-key Итого:
                          p.card__option-val 859 грн
                  .card
                    i.card__remove
                      <svg><use xlink:href="#close-icon" /></svg>
                    a(href="#").card__img
                      .card__img-inner
                        img(src="./img/product-2.jpg" alt="alt")
                    .card__content
                      a(href="#").card__title Платье в принт LILA KASS
                      p.card__price 569 грн
                      .card__options
                        .card__option
                          p.card__option-key Количество:
                          p.card__option-val 1
                        .card__option
                          p.card__option-key Размер:
                          p.card__option-val 44
                        .card__option
                          p.card__option-key Цвет:
                          p.card__option-val
                            span.color.card__option-color(style="background-image: url('./img/color-2.jpg')")
                        .card__option.card__option--total
                          p.card__option-key Итого:
                          p.card__option-val 559 грн
                  .card
                    i.card__remove
                      <svg><use xlink:href="#close-icon" /></svg>
                    a(href="#").card__img
                      .card__img-inner
                        img(src="./img/product-2.jpg" alt="alt")
                    .card__content
                      a(href="#").card__title Платье в принт LILA KASS
                      p.card__price 569 грн
                      .card__options
                        .card__option
                          p.card__option-key Количество:
                          p.card__option-val 1
                        .card__option
                          p.card__option-key Размер:
                          p.card__option-val 44
                        .card__option
                          p.card__option-key Цвет:
                          p.card__option-val
                            span.color.card__option-color(style="background-image: url('./img/color-2.jpg')")
                        .card__option.card__option--total
                          p.card__option-key Итого:
                          p.card__option-val 559 грн
              .header__cart-bottom.header__cart--pl.header__cart--pr
                .header__cart-total
                  p.header__cart-total-key Сумма заказа:
                  p.header__cart-total-val 1428 грн
                button.btn.header__cart-btn
                  span Оформить заказ

          a(href="#").header__action-top
            .header__action-top-inner
              span.header__action-num 2
              i.header__action-icon
                <svg><use xlink:href="#cart-icon"></use></svg>
        a(href="#mobile-menu").mobile-menu__btn
          span.mobile-menu__line
          span.mobile-menu__line
          span.mobile-menu__line

