extends ../includes/_layout

block header
  - var isIndex = true;
  include ../includes/_header

block main
  main.main
    section.banner
      .banner__slider.swiper-container#banner-slider
        .banner__wrapper.swiper-wrapper
          .banner__slide.swiper-slide
            picture
              source(media="(min-width: 991px)" srcset="./img/slide-with-text-large.jpg")
              source(media="(min-width: 600px)" srcset="./img/slide-with-text-medium.jpg")
              img(src="./img/slide-with-text-small.jpg" alt="alt")
            .container.flex.ai-c
              .banner__info.banner__left
                p.banner__descr Наша компания
                p.banner__title Производитель <br>женской одежды
                a(href="#").btn.banner__btn
                  span Узнать подробнее
          a(href="#").banner__slide.swiper-slide
            picture
              source(media="(min-width: 991px)" srcset="./img/slide-img-large.jpg")
              source(media="(min-width: 600px)" srcset="./img/slide-img-medium.jpg")
              img(src="./img/slide-img-small.jpg" alt="alt")
        i.swiper-button-prev.inline-flex.ai-c.jc-c
          <svg><use xlink:href="#arrow-prev"></use></svg>
        i.swiper-button-next.inline-flex.ai-c.jc-c
          <svg><use xlink:href="#arrow-next"></use></svg>
        .container.banner__pagination
          .swiper-pagination.banner__pagination-items.banner__left.inline-flex.ai-b

    section.brands.pt
      .container
        .caption
          p.caption__main Торговые марки
          p.caption__inner Наши бренды
        .brands__content.flex.jc-sb.ai-fs.pb.mt.borb
          .brands__left.brands__part
            .brands__text
              p Наша компания включает в свою коллекцию семь Брендов: <br> Lila Kass, Alika Kruss, Lada Lucci, Agata Webers, Juliet Roses, Anette и Fem.
              p Каждый бренд индивидуален, что позволит Вам выбрать найболее подходящий под Вас.

            .brands__item.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-2.jpg')")
              .brands__info
                p
                  b ALIKA KRUSS
                  |  - это женская одежда стандартных и больших размеров. Основное отличие ALIKA KRUSS заключается в том, что в широком ассортименте коллекции для себя могут найти одежду девушки и женщины от 50 до 70-го размера.
                a(href="#").brands__info-link.link Подробнее

            .brands__item.brands__item--reverse.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-4.jpg')")
              .brands__info
                p Концепцией коллекции торговой марки
                  b  Agata
                  |  Webers является выражение индивидуальности через одежду, выполненную из качественных  мягких, приятных тканей в богатой цветовой гамме и с учётом последних тенденций  моды.
                a(href="#").brands__info-link.link Подробнее

            .brands__item.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-6.jpg')")
              .brands__info
                p
                  b ALIKA KRUSS
                  |  - это женская одежда стандартных и больших размеров. Основное отличие ALIKA KRUSS заключается в том, что в широком ассортименте коллекции для себя могут найти одежду девушки и женщины от 50 до 70-го размера.
                a(href="#").brands__info-link.link Подробнее

          .brands__right.brands__part
            .brands__item.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-1.jpg')")
              .brands__info
                p
                  b ANETTE
                  |  - это производитель модной женской одежды из трикотажа. Благодаря верности традициям знаменитого латвийского трикотажа изделия «Анетте» очень быстро завоевали международный успех, и сегодня выхода каждой новой коллекции с нетерпением ждут миллионы модниц .
                a(href="#").brands__info-link.link Подробнее
            .brands__item.brands__item--reverse.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-3.jpg')")
              .brands__info
                p Каждый человек индивидуален. У каждого свой образ жизни и вкусы. Но среди представленных сегодня моделей от
                  b  Lada Lucci
                  |  Вы точно найдете что-то для себя. Ведь эта одежда обладает множеством качеств: стиль, удобство, красота, практичность и актуальность.
                a(href="#").brands__info-link.link Подробнее
            .brands__item.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-5.jpg')")
              .brands__info
                p Высочайшее качество нашей продукции уже оценили множество требовательных ценительниц моды, как в нашей стране, так и за ее пределами. Компания
                  b  JULIET ROSES
                  |  не просто создает женскую одежду, она воплощает мечты женщин, жаждущих выглядеть на все 100% роскошно и гармонично.
                a(href="#").brands__info-link.link Подробнее
            .brands__item.brands__item--reverse.inline-flex.ai-c
              .brands__img(style="background-image: url('./img/brands-7.jpg')")
              .brands__info
                p
                  b FEM
                  |  – это женская одежда в повседневном и классическом стиле в совокупности с последними тенденциями моды. Прежде чем создать коллекцию, наши дизайнеры отправляются в творческое путешествие – они вдохновляются. Для Вас  работает целая лаборатория современного Fashion-дизайна.
                a(href="#").brands__info-link.link Подробнее

    section.trands.pt
      .container
        .caption
          p.caption__main Трендовые товары
          p.caption__inner Наши товары
        .trands__tabs.mt.tabs
          ul.tabs__list.flex.jc-c.ai-s
            li
              a(href="#top").active Топ продаж
                span.tabs__line.tabs__line--top
                span.tabs__line.tabs__line--bottom
            li
              a(href="#new") Новинки
                span.tabs__line.tabs__line--top
                span.tabs__line.tabs__line--bottom
            li
              a(href="#sale") Распродажа
                span.tabs__line.tabs__line--top
                span.tabs__line.tabs__line--bottom

          .trands__products.pb.borb.tabs__content
            .products.swiper-container#top.active.trands__tab.tabs__tab
              .products__wrapper.swiper-wrapper
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн

              .products__controls.flex.jc-sb.ai-c.ct.light-arrows
                a.product__more(href="#").link Показать больше
                .products__arrows
                  i.swiper-button-prev.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-prev"></use></svg>
                  i.swiper-button-next.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-next"></use></svg>
            .products.swiper-container#new.trands__tab.tabs__tab
              .products__wrapper.swiper-wrapper
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS fdsfsdf fdsfsdf
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
              .products__controls.flex.jc-sb.ai-c.ct.light-arrows
                a.product__more(href="#").link Показать больше
                .products__arrows
                  i.swiper-button-prev.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-prev"></use></svg>
                  i.swiper-button-next.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-next"></use></svg>
            .products.swiper-container#sale.trands__tab.tabs__tab
              .products__wrapper.swiper-wrapper
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
                      p.product__price--sale 1250 грн
                .product.swiper-slide
                  .product__photo
                    a(href="#").product__img
                      img(src="./img/product-1.jpg" alt="test")
                      img(src="./img/product-2.jpg" alt="test")
                    .product__colors.inline-flex.fd-c.jc-fe
                      span.color.product__color(style="background-image: url('./img/color-1.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-2.jpg')")
                      span.color.product__color(style="background-image: url('./img/color-3.jpg')")
                    .product__labels
                      span.label.product__label new
                      span.label.product__label top
                    span.product__favourite
                      svg
                        use(xlink:href="#favourite-icon")
                  .product__info.flex.fd-c.jc-fe
                    a(href="#").product__title Платье красное ALIKA KRUSS fdsfsdf fdsfsdf
                    p.product__status.product__status--in В наличии
                    .product__price.flex.ai-b
                      p.product__price--default 859 грн
              .products__controls.flex.jc-sb.ai-c.ct.light-arrows
                a.product__more(href="#").link Показать больше
                .products__arrows
                  i.swiper-button-prev.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-prev"></use></svg>
                  i.swiper-button-next.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-next"></use></svg>

    section.about.pt.pb(style="background-image: url('./img/about-bg.png')")
      .container
        .caption
          p.caption__main О нас
          p.caption__inner О компании
        .about__content.mt
          small Производитель женской одежды
          p Alpa Group - производитель эксклюзивной, стильной, разнообразной женской одежды, включающей в себя семь брендод: «Lila Kass», «Agata Webers», «Lada Lucci», «Alika Kruss», «Juliet Roses», «Anette» и «Fem»
          p Наша компания создана в 2010г. За достаточно короткий срок из развивающегося предприятия мы выросли до масштабов фабрики.  Изделия  нашей компании отлично себя зарекомендовали не только на рынке Украины, а также  в странах бывшего СНГ, Европы и США.
          p Наши бренды отличаются нестандартным дизайнерским решением, оригинальным кроем, высоким качеством, большим ассортиментным рядом, частым обновлением коллекций и приятной ценой.
          a(href="#").link Узнать подробнее

    section.business(style="background-image: url('./img/business-bg.jpg')")
      .container.flex.ai-c.jc-fe
        .business__wrapper
          .caption.caption--white
            p.caption__main Бизнес
            p.caption__inner Сотрудничество
          .business__content.mt.flex.fd-c.ai-fe.jc-fs
            p Компания ALPA GROUP - современная, динамично развивающаяся компания, открытая для сотрудничества с оптовыми партнерами.
            a(href="#").btn.btn--white.business__btn
              span Перейти в раздел

    section.partners.pb
      .container
        .partners__content.light-colors
          .partners__items.swiper-container#partners-slider
            .partners__wrapper.swiper-wrapper
              .partners__item.swiper-slide
                img(src="./img/leboutique.png" alt="alt")
                img(src="./img/leboutique.png" alt="alt")
              .partners__item.swiper-slide
                img(src="./img/mk-logo.png" alt="alt")
                img(src="./img/mk-logo.png" alt="alt")
              .partners__item.swiper-slide
                img(src="./img/rozetka.png" alt="alt")
                img(src="./img/rozetka.png" alt="alt")
              .partners__item.swiper-slide
                img(src="./img/feshnatlas.png" alt="alt")
                img(src="./img/feshnatlas.png" alt="alt")

          i.swiper-button-prev.inline-flex.ai-c.jc-c
            <svg><use xlink:href="#arrow-prev"></use></svg>
          i.swiper-button-next.inline-flex.ai-c.jc-c
            <svg><use xlink:href="#arrow-next"></use></svg>
        .partners__info
          p Наши партнеры

    section.txt
      .container
        .txt__content.flex.jc-sb.ai-s.pb.borb
          .txt__news
            .caption
              p.caption__main Новости
              p.caption__inner Новости компании
            .news__slider.swiper-container.mt#news__slider
              .news__wrapper.swiper-wrapper
                .news__item.swiper-slide.txt--height.inline-flex.fd-c.jc-sb
                  a(href="#").news__img
                    img(src="./img/news-1.jpg" alt="alt")
                    .news__date.inline-flex.ai-c.jc-c
                      span
                        b 21
                        | янв
                  .news__info
                    a(href="#").news__title Платья на выпускной 2019: новинки и тренды
                    p.news__descr Выпускной бал всегда был и остается одним из важнеших событий в жизни каждого. Это красивый праздник, на котором юноши и девушки, впервые смогут облачиться в вечерние туалеты и стацевать вальс.
                .news__item.swiper-slide.txt--height.inline-flex.fd-c.jc-sb
                  a(href="#").news__img
                    img(src="./img/news-2.jpg" alt="alt")
                    .news__date.inline-flex.ai-c.jc-c
                      span
                        b 21
                        | янв
                  .news__info
                    a(href="#").news__title Платья на выпускной 2019: новинки и тренды
                    p.news__descr Выпускной бал всегда был и остается одним из важнеших событий в жизни каждого. Это красивый праздник, на котором юноши и девушки, впервые смогут облачиться в вечерние туалеты и стацевать вальс.
                .news__item.swiper-slide.txt--height.inline-flex.fd-c.jc-sb
                  a(href="#").news__img
                    img(src="./img/news-1.jpg" alt="alt")
                    .news__date.inline-flex.ai-c.jc-c
                      span
                        b 21
                        | янв
                  .news__info
                    a(href="#").news__title Платья на выпускной 2019: новинки и тренды
                    p.news__descr Выпускной бал всегда был и остается одним из важнеших событий в жизни каждого. Это красивый праздник, на котором юноши и девушки, впервые смогут облачиться в вечерние туалеты и стацевать вальс.
              .news__controls.ct.flex.jc-sb.ai-c.light-arrows.txt__arrows
                a(href="#").link Все новости
                .news__arrows
                  i.swiper-button-prev.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-prev"></use></svg>
                  i.swiper-button-next.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-next"></use></svg>
          .txt__reviews
            .caption
              p.caption__main Отзывы
              p.caption__inner Наши клиенты
            .reviews__slider.swiper-container.mt#reviews__slider
              .reviews__wrapper.swiper-wrapper
                .reviews__item.swiper-slide.txt--height.inline-flex.fd-c.jc-sb
                  .reviews__top.flex.jc-fs.ai-s
                    .reviews__img
                      img(src="./img/review-1.jpg" alt="alt")
                    .reviews__info.inline-flex.fd-c.jc-sb
                      p.reviews__date 20.01.2019
                      .reviews__rating.flex.ai-s.jc-fs
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star.star--disabled
                          <svg><use xlink:href="#rating-star"></use></svg>
                      p.reviews__name Анастасия Самойловиченко
                  .reviews__text
                    p Шикарный костюм! Получаю много комплиментов. Ткань - кукуруза. Цвет отличается, он бежевый. На фигуре сидит замечательно. Ношу его уже полгода, ничего не скаталось, затяжек нет даже после верхней одежды. Можно комбинировать по отдельности. Одеваю юбку с водолазкой или пиджак с черными брюками. На параметры ОБ 96 ОГ 90 ОТ 72 заказала L, можно и меньше размер, но не люблю себя обтягивать... Рост 160 - длина
                .reviews__item.swiper-slide.txt--height.inline-flex.fd-c.jc-sb
                  .reviews__top.flex.jc-fs.ai-s
                    .reviews__img
                      img(src="./img/review-1.jpg" alt="alt")
                    .reviews__info.inline-flex.fd-c.jc-sb
                      p.reviews__date 20.01.2019
                      .reviews__rating.flex.ai-s.jc-fs
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star
                          <svg><use xlink:href="#rating-star"></use></svg>
                        span.star.star--disabled
                          <svg><use xlink:href="#rating-star"></use></svg>
                      p.reviews__name Анастасия Самойловиченко
                  .reviews__text
                    p Шикарный костюм! Получаю много комплиментов. Ткань - кукуруза. Цвет отличается, он бежевый. На фигуре сидит замечательно. Ношу его уже полгода, ничего не скаталось, затяжек нет даже после верхней одежды. Можно комбинировать по отдельности. Одеваю юбку с водолазкой или пиджак с черными брюками. На параметры ОБ 96 ОГ 90 ОТ 72 заказала L, можно и меньше размер, но не люблю себя обтягивать... Рост 160 - длина
              .reviews__controls.ct.flex.jc-sb.ai-c.light-arrows.txt__arrows
                a(href="#").link Все отзывы
                .reviews__arrows
                  i.swiper-button-prev.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-prev"></use></svg>
                  i.swiper-button-next.inline-flex.ai-c.jc-c
                    <svg><use xlink:href="#arrow-next"></use></svg>

    section.request.pt.pb
      .container
        p.request__title Есть вопросы?<br>Мы с радостью Вам поможем
        form.request__form
          .request__form-content.flex.jc-sb.ai-s
            .request__form-left.request__form-part.inline-flex.fw-w.jc-sb.ai-s
              .form__group
                .form__group-input
                  label(for="request-name").form__group-label Имя
                  input(type="text" id="request-name" class="only-text-input")
                span.form__group-message Ошибка
              .form__group
                .form__group-input
                  label(for="request-email").form__group-label Email
                  input(type="email" id="request-email")
                span.form__group-message Ошибка
              .form__group
                .form__group-input
                  label(for="request-phone").form__group-label Телефон
                  input(type="text" class="only-numbers-input" id="request-phone")
                span.form__group-message Ошибка
              .form__group
                .form__group-input
                  label(for="request-town").form__group-label Город
                  input(type="text" class="only-text-input" id="request-town")
                span.form__group-message Ошибка

            .request__form-right.request__form-part
              .form__group
                .form__group-input
                  label(for="request-text").form__group-label Ваш комментарий
                  textarea(id="request-text" placeholder="Введите Ваш комментарий...")
                span.form__group-message Ошибка
          button.btn.btn--linear.request__form-btn
            span Отправить