extends ../includes/_layout

block header
  - var isIndex = false;
  include ../includes/_header

block main
  main.main
    - var breadcrumbs = ['Новости', 'Маленькое черное платье'];
    section.pnitem.pb
      include ../includes/_breadcrumbs
      .container
        .pnitem__content
          .pnitem__info
            p.caption.caption--inner Маленькое черное платье
            .pnitem__info-cols
              .pnitem__info-left
                .pnitem__info-top
                  span.pnitem__info-date 5 января 2019
                  .pnitem__info-views
                    i
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.24 11"><path d="M9.1,11a10.73,10.73,0,0,0,9.08-5.26.51.51,0,0,0,0-.48A10.73,10.73,0,0,0,9.1,0C3.9,0,.21,5,.1,5.21a.48.48,0,0,0,0,.58C.21,6,3.9,11,9.1,11Zm0-10a9.82,9.82,0,0,1,8,4.5,9.77,9.77,0,0,1-8,4.5C5.1,10,2,6.5,1.1,5.5,2,4.5,5.1,1,9.1,1Z"/><path d="M9.1,8.89A3.39,3.39,0,1,0,5.71,5.5,3.39,3.39,0,0,0,9.1,8.89Zm0-5.78A2.39,2.39,0,1,1,6.71,5.5h0A2.39,2.39,0,0,1,9.1,3.11Z"/></svg>
                    span 1246
                .pnitem__info-left-text.pnitem-text
                  p Среди множества вещей в гардеробе есть один универсальный элемент – маленькое черное платье, которое подходит  для любых целей.
                  p Времена меняются – меняются вкусы. То, что сейчас для нас в порядке вещей, раньше удивляло, возмущало и шокировало. И также было с маленьким черным платьем, величайшим изобретением великолепной Коко Шанель!
                .pnitem__info-left-img(style="background-image: url('./img/new-left.jpg')")

              .pnitem__info-right
                .pnitem__info-center(style="background-image: url('./img/new-center.jpg')")
                .pnitem__info-additional
                  .pnitem__info-additional-img(style="background-image: url('./img/new-right.jpg')")
                  .pnitem__info-additional-text.pnitem-text
                    p Модницы того времени не сразу оценили всю прелесть платья, они осуждали ее, смеялись над её творением. Но уже через полгода к Коко Шанель стояла целая очередь, желая заказать у неё то самое Маленькое черное платье!
                    p Надевать его можно на вечеринки, деловые переговоры, торжественные мероприятия, свидания и даже на детские праздники. Главное – это правильно подобрать остальные элементы ансамбля и украсить образ подходящими аксессуарами.
                p.pnitem__info-quote “Маленькое черное платье - это идеальный образ для любого вечера”
          .pnitem__bottom.pt
            p.pnitem__bottom-title Аксессуары, которыми можно дополнить черное платье
            .pnitem__bottom-text
              p 1. Шарф или шаль. Такое дополнение подойдет к наряду независимо от сезона. В холода теплое черное платье прекрасно гармонирует со снудом, хомутом, косынкой, шалью. Более легкий вариант легко украшается шелковым шарфом, палатнином, пашминой.
              p 2. Пояс. Пояс позволяет очертить талию, сделав ее визуально уже. Можно использовать тонкий вариант в виде цепочки или толстый ремень с ажурной пряжкой. А сделать образ выразительнее поможет толстая яркая лента, обернутая вокруг талии в несколько слоев и завязанная большим бантом.
              p 3. Болеро. Этот вариант подходит для изделия без рукавов. Болеро можно подобрать укороченное, с застежкой или без, с коротким рукавом, длиной в три четверти или совсем длинным. Все зависит от образа, который необходимо создать. При этом цвет болеро необязательно должен быть черным. Можно разнообразить ансамбль, надев изделие яркого цвета, к примеру, лилового, бирюзового.
              p 4. Накладной воротник. Этот аксессуар всегда в тренде и уместен в любой ситуации. Можно воспользоваться изделием из бисера, меха, жемчуга, текстиля, а также кожи. Накладной воротник станет броским акцентом образа.
              p 5. Фантазийные колготы. Вариаций колгот в продаже настолько много, что подобрать приемлемую вещь к маленькому черному платью сможет любая барышня. Главное, чтобы образ вписывался в место, для которого он создается.
              p 6. Длинные перчатки. Данный аксессуар сочетается с вечерним ансамблем, добавляя облику изысканности. Если позволяет фасон и фактура ткани, то украсить черное платье можно и митенками, и ажурными короткими перчатками, но к модели без рукавов все же лучше приобрести длинные тонкие перчатки.
              p 7. Комбидресс. Если платье достаточно открытое, а на улице бушует непогода, то его вполне можно дополнить гольфом или водолазкой, прикрывающей шею. А для придания облику романтичности подойдет ажурный комбидресс.

    section.latest-news.pb
      .container
        p.caption.caption--inner Последние новости
        .latest-news__content
          .news__item.news__item--width.inline-flex.fd-c.jc-sb(style="background-image: url('./img/news-2.jpg')")
            .news__date.inline-flex.ai-c.jc-c
              span
                b 21
                | янв
            .news__info
              .news__info-inner
                a(href="#").news__title Платья на выпускной 2019: новинки и тренды
                p.news__descr Выпускной бал всегда был и остается одним из важнеших событий в жизни каждого. Это красивый праздник, на котором юноши и девушки, впервые смогут облачиться в вечерние туалеты и стацевать вальс.
          .news__item.news__item--width.inline-flex.fd-c.jc-sb(style="background-image: url('./img/news-2.jpg')")
            .news__date.inline-flex.ai-c.jc-c
              span
                b 21
                | янв
            .news__info
              .news__info-inner
                a(href="#").news__title Платья на выпускной 2019: новинки и тренды
                p.news__descr Выпускной бал всегда был и остается одним из важнеших событий в жизни каждого. Это красивый праздник, на котором юноши и девушки, впервые смогут облачиться в вечерние туалеты и стацевать вальс.